body {
    background-color: #001720;
    color: white;
    
}

header {
    color: cornflowerblue;
}

nav, a {
    width: 300px;
    color: cornflowerblue;
    text-decoration: solid;
}

aside {
    float: right;
	position: relative;
    right: 100px;
}