body {
    background-color: #333333;
    color: white;
    
}

header {
    color: orange;
}

nav, a {
    width: 300px;
    color: orangered;
    text-decoration: solid;
}

aside {
    float: right;
	position: relative;
    right: 100px;
}