body {
    background-color: #333333;
    color: white;
    
}

header {
    color: orange;
}

nav, a {
    width: 300px;
    color: orangered;
    text-decoration: solid;
}

aside {
    float: right;
	position: relative;
    right: 100px;
}

.about {
    font-size: 20px;
    width: 450px;
}

img {
    border: orangered 10px solid;
}

button {
    background-color: orangered;
}

button:hover{
    background-color: orange;
}

/*More or less inspired of the Leprinos Color scheme*/